@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100dvh;
  background-repeat: no-repeat;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
  background-color:#00012b ;
  box-shadow: 3px 3px 5px grey;
  position: sticky;
  top: 0;
  z-index: 5;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}
nav a:hover{
  background-color: lightblue;
  color: black;
}
nav a.no-hover:hover{
  background-color: inherit;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
  color:black;
  font-weight: bold;
}
.sidebar a:hover{
  background-color: #00012b;
  color: white;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  
  .span{
        font-size: 14px;
  }
  .about{
      padding-top: 17em;
  }
  
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
  .cta{
    padding: 6px 12px;
    font-size: 12px;
    top: 70%;
  }
  .span{
      font-size: 12px;
  }
  .about{
      padding-top: 14em;
  }

}

nav svg{
  filter: brightness(0) invert();
}

.card{
  margin: 0 auto;
  padding: 2em;
  border: 1px solid rgb(75, 82, 92);
  border-radius: 10px;
  background-color:#f7f7f7;
  text-align: center;
  position: relative;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),lightblue ,#00d2ff,#3a7bd5 ,#006aff);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  animation-timing-function: ease-in-out;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
.gap{
  margin: 2em;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
  padding-left: 0.7em;
  padding-right: 0.7em;
}
.basic{
  background-color: #f7f7f7; 
  height: 876px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ci {
  position: absolute;
  top: 63%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Center content absolutely without affecting other elements */
  text-align: center;
  pointer-events: none; /* Allows clicks to pass through to underlying elements if needed */
}

.title-1{
  font-size: 90px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
    font-weight: 700;
      color: #f7f7f7; /* Light Gray */
    text-shadow: 
        1px 1px 1px #00d2ff, /* Light Blue */
        1px 2px 1px #00d2ff,
        1px 3px 1px #00d2ff,
        1px 4px 1px #00d2ff,
        1px 5px 1px #00d2ff,
        1px 6px 1px #00d2ff,
        1px 7px 1px #00d2ff,
        1px 8px 1px #00d2ff,
        1px 9px 1px #00d2ff,
        1px 10px 1px #00d2ff,
        1px 18px 6px black, 
        1px 22px 10px black,
        1px 25px 35px black,
        1px 30px 60px black; 
}
.title-1::after{
  content: "Corparenza";
  font-size: 90px;
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
  position: absolute;
  top: 10;
  left: 0;
  text-shadow: 0px 0px 100px rgba(11,124,199,0.5);
  animation: cycle 10s linear infinite; 

}
@keyframes cycle{
  0% {text-shadow: 0px 0px 100px rgba(11,124,199,0.5);}
  20% {text-shadow: 0px 0px 100px rgba(168,11,199,0.5);}
  40% {text-shadow: 0px 0px 100px rgba(11,199,96,0.5);}
  60% {text-shadow: 0px 0px 100px rgba(199,11,11,0.5);}
  80% {text-shadow: 0px 0px 100px rgba(199,96,11,0.5);}

}

.subtitle{
  font-size: 40px;
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  padding: 0;
      color: #f7f7f7; 
    /*text-shadow: 
        1px 1px 1px black, 
        1px 2px 1px black,
        1px 3px 1px black,
        1px 4px 1px black,
        1px 5px 1px black,
        1px 6px 1px black,
        1px 7px 1px black,
        1px 8px 1px black,
        1px 9px 1px black,
        1px 10px 1px black,
        1px 18px 6px lightgrey, 
        1px 22px 10px lightgrey,
        1px 25px 35px lightgrey,
        1px 30px 60px lightgrey; /* Consistent color for depth */
    .sp {
    transform: scale(0.9);
    display: inline-block;
    
  }
 /*.sp:first-child {
    /*animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
  }
  .sp:last-child {
   /* animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
  }*/
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .title-1 {
    font-size: 150px;
  }
  .subtitle {
    font-size: 80px;
  }
  .title-1::after {
    font-size: 150px; /* Font size for mobile screens */
  }
}

@media (max-width: 768px) {
  .title-1 {
    font-size: 85px;
  }
  .subtitle {
    font-size: 40px;
  }
  .title-1::after {
    font-size: 85px; /* Font size for mobile screens */
  }
    .basic {
    height: 600px; /* Height for mobile screens */
  }
  .ci{
    top: 35%;
  }
  
}

@media (max-width: 480px) {
  .title-1 {
    font-size: 45px;
  }
  .subtitle {
    font-size: 30px;
  }
   .title-1::after {
    font-size: 45px; /* Font size for mobile screens */
  }
   .basic {
    height: 600px; /* Height for mobile screens */
  }
  .ci{
    top: 32%;
  }
  .sidebar{
    width: 250px;
  }
  .pitch-1 img{
    height: 340px;
  }
  .benefits h2{
    font-size: 20px;
  }
}
.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-size: 25px;
  color: white;
 background: #000dff;
  transition: 1s;
  box-shadow: 6px 6px 0 #00d2ff ;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Responsive adjustment for smaller screens */
@media (max-width: 768px) {
    .cta {
        top: 70%; /* Shift to 70% from the top on mobile */
        font-size: 20px; /* Reduce font size for smaller screens */
        padding: 10px 25px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .cta {
        top: 63%; /* Ensure the button stays at 70% on very small screens */
        font-size: 18px; /* Further reduce font size */
        padding: 8px 20px; /* Adjust padding for very small screens */
    }
    .sphere{
      height: 105em !important;
    }
   .sphere-animation{
    top: -30%;
        left: -25%;
        position: absolute;
   }
}
.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #00d2ff;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(-15deg);
  font-weight: bold;
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #00d2ff;
  }

  100% {
    fill: white;
  }
}

.about{
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.space{
  padding-top: 1em;
}
      /*  .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4rem;
            color: transparent;
            background: linear-gradient(to bottom, black, gray);
            -webkit-background-clip: text;
            background-clip: text;
            z-index: 3; /* Ensure text is above the circles 
        }*/

        .orbiting-circles {
          z-index: -1;
            position: absolute;
            top: 63%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
        }

        .large-orbit {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 500px; /* Size of the large orbit */
            height: 500px; /* Size of the large orbit */
            border: none; /* Style for the large orbit */
            border-radius: 50%; /* Make it circular */
            transform: translate(-50%, -50%);
            z-index: 1; /* Ensure it's below the smaller circles */
        }

        .small-orbit {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 250px; /* Size of the small orbit */
            height: 250px; /* Size of the small orbit */
            border: none; /* Style for the small orbit */
            border-radius: 50%; /* Make it circular */
            transform: translate(-50%, -50%);
            z-index: 1; /* Ensure it's below the smaller circles */
        }

        .circle {
            position: absolute;
            width: 50px; /* Set size of the circles */
            height: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .circle img {
            width: 100%;
            height: auto;
        }
        /* From Uiverse.io by MikeAndrewDesigner */ 
.e-card {
  margin: 10px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 320px;
  height: 410px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 16px;
  font-weight: 100;
  position: relative;
  top: 9em; 
  padding: 1em;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.ic{
  height: 120px;
  width: 120px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.ic img{
  height: 120px;
}
.tt{
  width: 250px;
}
.tt p{
  color: white;
  font-size: 37px;
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
footer {
    background-color: #00012b;
    color: white;
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.foot-container {
    flex: 1;
    margin: 0 20px;
    min-width: 200px; /* Set a minimum width for responsiveness */
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact a:hover {
    color: #00d2ff;
}

.contact img, .social-icons img {
    height: 24px;
    transition: filter 0.3s ease;
    filter: brightness(0) invert(1);
}

.contact a:hover img, .social-icons img:hover {
    filter: brightness(0) saturate(100%) invert(49%) sepia(100%) saturate(500%) hue-rotate(170deg) brightness(0.95);
}

.address {
    margin-top: 30px;
    font-size: 14px;
     color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    }
.address img, .quick-links img {
    height: 24px;
    transition: filter 0.3s ease;
    filter: brightness(0) invert(1);
}

.quick-links a:hover img, .address a:hover img {
    filter: brightness(0) saturate(100%) invert(49%) sepia(100%) saturate(500%) hue-rotate(170deg) brightness(0.95);
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.quick-links ul, .social-links {
    padding: 0;
    list-style: none;
}

.quick-links ul li {
    margin: 5px 0;
}

.quick-links ul li a {
     color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.2s ease;
}
.quick-links img{
  filter: brightness(0) invert(1);
}
.quick-links ul li a:hover {
    color: #00d2ff;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.social-icons img:hover {
    transform: scale(1.1) rotate(15deg);
    filter: brightness(0) saturate(1000%) invert(61%) sepia(79%) saturate(563%) hue-rotate(168deg) brightness(1.1);
}

hr {
    margin: 20px 0;
    width: 100%;
    border: none;
    height: 1px;
    background-color: #fff;
}

footer p {
    margin: 0;
    text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .foot-container {
        margin: 10px 0; /* Adjust margin for vertical stacking */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 20px; /* Smaller title font for mobile screens */
    }
    .address {
        font-size: 12px; /* Smaller font for the address */
    }
    .contact img, .social-icons img {
        height: 20px; /* Smaller icon size */
    }
}


struct {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  color: var(--color);
  background: var(--bgColor);
}

h1 {
  text-align: center;
}

ul.schedule {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
ul.schedule::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
ul.schedule li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
ul.schedule li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
ul.schedule li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
ul.schedule li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
ul.schedule li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
ul.schedule li .title,
ulschedule li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 3rem;
}
ul.schedule li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 700;
}
ul.schedule li .descr {
  padding-left: 3em;
  padding-right: 3em;
  padding-block-end: 2.5rem;
  font-weight: 300;
  text-align:justify;
  font-size:14px;
}

/* shadows */
ul.schedule li .title::before,
ul.schedule li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul.schedule li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul.schedule li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  ul.schedule {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul.schedule::before {
    grid-column: 2;
  }
  ul.schedule li:nth-child(odd) {
    grid-column: 1;
  }
  ul.schedule li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  ul.schedule li:nth-child(2) {
    grid-row: 2/4;
  }

  ul.schedule li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul.schedule li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul.schedule li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

        .globe {
            margin: 0;
            padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: transparent;
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}
.sphere{
  height: 55em;
}
.sphere-animation {
 padding-top: 50em;
 padding-left: 16em;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80,80,80,.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}
.globe{
  display: flex;
  align-items: center;
  justify-content: center;
}
